#about-section {
    margin-top: calc(70px + 3em + 50px); /* Adjust the top margin to account for the fixed header */
    display: flex;
    flex-direction: row; /* Change this from column to row */
    align-items: start; /* Align items to the start of the flex container */
    justify-content: flex-start; /* Align items along the horizontal line */
    gap: 1em; /* Adjust this value as needed */
}

#about-section img {
    width: 50%; /* Adjust this value as needed */
    height: auto;
    object-fit: cover;
    float: left;
    margin-left: 80px;
}