/* Styles for the about section */
#about-section {
    margin-top: calc(70px + 3em + 50px); /* Top margin to avoid overlap with the fixed header */
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Arrange children in a row */
    align-items: start; /* Start alignment for better control of child elements */
    justify-content: flex-start; /* Start alignment for horizontal distribution */
    gap: 1em; /* Space between child elements */
}

/* Styles for images in the about section */
#about-section img {
    width: 50%; /* Half of the parent's width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire content box */
    float: left; /* Float to the left */
    margin-left: 80px; /* Space from the left edge */
}

@media only screen and (max-width: 539px) {

    #fixed-header {
         padding-right: 50em; 
         left: -2em;
    }
    #header {
        font-size: 1.7em;
        text-align: left;
        margin-left: -20px;
    }
    .nav-links {
        font-size: .65em; 
        padding-right: 2em;
        margin-left: -20px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {

    #fixed-header {
         padding-right: 50em; 
         left: -2em;
    }
    #header {
        font-size: 2.5em;
        text-align: left;
        margin-left: -20px;
    }
    .nav-links {
        font-size: .85em; 
        padding-right: 2em;
        margin-left: -20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #fixed-header {
        padding-right: 50em; 
        left: -2em;
   }
   #header {
       font-size: 4em;
       text-align: left;
       margin-left: -20px;
   }
   .nav-links {
       font-size: 1.3em; 
       padding-right: 2em;
       margin-left: -20px;
   }

   #about-section {
       margin-top: 12em; 
   }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    #fixed-header {
         padding-right: 50em; 
         left: -2em;
    }
    #header {
        font-size: 2.5em;
        text-align: left;
        margin-left: -20px;
    }
    .nav-links {
        font-size: .85em; 
        padding-right: 2em;
        margin-left: -20px;
    }
}