/* Importing external font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0;
    background: black;
    color: white;
}

/* Styles for the fixed header */
#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensures the header stays on top of other elements */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: black; /* Sets the background color of the header */
    padding-left: 80px; /* Adds padding to the left of the header */
}

/* Styles for the header text */
#header {
    font-size: 3em;
    font-weight: bold;
    text-align: left; /* Aligns the header text to the left */
    opacity: 0; /* Sets the initial opacity of the header to 0 */
    animation: fadeInDown 2s ease-out forwards; /* Applies an animation to the header */
    margin-top: 0px; /* Sets the top margin of the header */
}

/* Defines the keyframes for the fadeInDown animation */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles for the navigation links */
.nav-links {
    display: flex;
    justify-content: flex-start; /* Aligns the navigation links to the start of the container */
    gap: 13px; /* Sets the gap between the navigation links */
    padding-top: 20px; /* Adds padding to the top of the navigation links */
}

/* Styles for the individual navigation links */
.nav-links a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; /* Adds a transition effect to the navigation links */
    font-size: 1.0em; /* Sets the font size of the navigation links */
}

/* Styles for the navigation links on hover */
.nav-links a:hover {
    background-color: #333; /* Changes the background color of the navigation links on hover */
}

/* Styles for the CV section */
#cv {
    padding: 20px;
    padding-top: 100px; /* Adds padding to the top of the CV section */
}

/* Styles for the preformatted text in the CV section */
#cv pre {
    font-family: 'Georgia', serif;
    text-align: left;
    color: #898989;
    line-height: 1.5; /* Increases the line spacing */
    padding-right: 800px;
    margin-right: 20px;
}

/* Styles for the h2 elements in the preformatted text */
#cv pre h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.25em;
    color: white;
    margin-left: 30px; /* Adds margin to the left of the h2 elements */
}

/* Styles for the h2 elements */
h2 {
    font-size: 2em;
    margin-top: 20px;
    color: white;
}

/* Styles for the h3 elements */
h3 {
    font-size: 1.5em;
    margin-top: 10px;
    color: white;
}

/* Styles for the unordered lists */
ul {
    list-style-type: disc; /* Sets the list style type to disc */
    padding-left: 20px;
}

/* Styles for the list items */
ul li {
    color: white;
    margin-bottom: 10px;
}

/* Media query for screens smaller than 1366px */
@media only screen and (max-width: 1366px) {
    /* Adjust styles as needed */
    #cv pre {
        padding-right: 500px;
    }
}

/* Media query for screens smaller than 1800px */
@media only screen and (max-width: 1800px) {
    /* Adjust styles as needed */
    #cv pre {
        padding-right: 600px;
    }
}