/* Styles for the body of the page */
body {
    font-family: Arial, sans-serif; /* Sets the font for the body */
    display: flex; /* Uses flexbox for layout */
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers items horizontally */
    height: 100vh; /* Sets the height to fill the viewport */
    margin: 0; /* Removes default margin */
    background: black; /* Sets the background color to black */
    color: white; /* Sets the text color to white */
}

/* Styles for the fixed header */
#fixed-header {
    position: fixed; /* Fixes the position of the header */
    top: 0; /* Positions the header at the top */
    left: 0; /* Positions the header at the left */
    width: 100%; /* Sets the width to fill the container */
    z-index: 100; /* Ensures the header is always on top */
    display: flex; /* Uses flexbox for layout */
    flex-direction: column; /* Stacks items vertically */
    align-items: flex-start; /* Aligns items to the start */
    background: black; /* Sets the background color to black */
    padding-left: 80px; /* Adds padding to the left */
}

/* Styles for the header text */
#header {
    font-size: 3em; /* Sets the font size */
    font-weight: bold; /* Makes the text bold */
    text-align: left; /* Aligns the text to the left */
    opacity: 0; /* Sets the initial opacity to 0 */
    animation: fadeInDown 2s ease-out forwards; /* Applies a fade-in animation */
    margin-top: 0px; /* Removes the top margin */
}

/* Defines the keyframes for the fadeInDown animation */
@keyframes fadeInDown {
    0% {
        opacity: 0; /* Starts with opacity 0 */
        transform: translateY(-20px); /* Starts 20px above the final position */
    }
    100% {
        opacity: 1; /* Ends with opacity 1 */
        transform: translateY(0); /* Ends at the final position */
    }
}

/* Styles for the navigation links container */
.nav-links {
    display: flex; /* Uses flexbox for layout */
    justify-content: flex-start; /* Aligns items to the start */
    gap: 13px; /* Sets a gap between items */
    padding-top: 20px; /* Adds padding to the top */
}

/* Styles for the navigation links */
.nav-links a {
    display: block; /* Displays the links as block elements */
    padding: 1em; /* Adds padding around the links */
    color: white; /* Sets the text color to white */
    text-decoration: none; /* Removes the underline */
    transition: background-color 0.3s; /* Adds a transition effect */
    font-size: 1.0em; /* Sets the font size */
}

/* Styles for the navigation links on hover */
.nav-links a:hover {
    background-color: #333; /* Changes the background color on hover */
}

/* Styles for the gallery container */
#gallery {
    margin-top: calc(70px + 3em + 50px); /* Sets the top margin to account for the fixed header */
    display: flex; /* Uses flexbox for layout */
    overflow-x: scroll; /* Allows horizontal scrolling */
    width: 100%; /* Sets the width to fill the container */
    height: calc(100vh - 70px - 3em - 50px); /* Sets the height to account for the fixed header */
    scrollbar-width: none;  /* Hides the scrollbar in Firefox */
    -ms-overflow-style: none;  /* Hides the scrollbar in Internet Explorer and Edge */
    padding-left: 2em; /* Adds margin to the left */
}

/* Hides the scrollbar in Chrome, Safari and Opera */
#gallery::-webkit-scrollbar {
    display: none;
}

/* Styles for the image container */
.image-container {
    display: flex; /* Uses flexbox for layout */
    flex-direction: row; /* Arranges items in a row */
    align-items: flex-start; /* Aligns items to the start */
}

/* Styles for the image */
.image-container img {
    height: 60vh; /* Sets the height */
    object-fit: cover; /* Resizes the image to fill the container while maintaining aspect ratio */
    width: auto; /* Keeps the original aspect ratio */
    scroll-snap-align: start; /* Aligns the start edge of the item with the start edge of the scroll container */
}

/* Styles for the image item */
.image-container .image-item {
    display: flex; /* Uses flexbox for layout */
    flex-direction: column; /* Stacks items vertically */
    align-items: flex-end; /* Aligns items to the end */
    margin-right: 1.5em; /* Adds margin to the right */
}

/* Styles for the image info */
.image-container .image-info {
    color: #737373; /* Sets the text color to light gray */
}

@media only screen and (max-width: 539px) {

    #fixed-header {
        padding-right: 50em; 
        left: -2em;
    }
    #header {
       font-size: 2.5em;
       text-align: left;
       margin-left: -20px;
   }

   .nav-links {
       font-size: .6em; 
       padding-right: 2em;
       margin-left: -20px;
   }

   #gallery {
        height: calc(100vh - 70px - 2em - 100px); /* Adjusts the height */
    }

    .image-container img {
        height: 30vh; /* Adjusts the height */
    }

    .image-container .image-info {
        font-size: 0.7em; /* Adjusts the font size */
    }

}

@media only screen and (min-width: 540px) and (max-width: 768px) {

    #fixed-header {
        padding-right: 50em; 
        left: -2em;
    }
    #header {
       font-size: 2.5em;
       text-align: left;
       margin-left: -20px;
   }

   .nav-links {
       font-size: .85em; 
       padding-right: 2em;
       margin-left: -20px;
   }

   #gallery {
        height: calc(100vh - 70px - 2em - 40px); /* Adjusts the height */
    }

    .image-container img {
        height: 49vh; /* Adjusts the height */
    }

    .image-container .image-info {
        font-size: 1em; /* Adjusts the font size */
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    #fixed-header {
        padding-right: 50em; 
        left: -2em;
    }
    #header {
       font-size: 4em;
       text-align: left;
       margin-left: -20px;
   }

   .nav-links {
       font-size: 1.3em; 
       padding-right: 2em;
       margin-left: -20px;
   }

   #gallery {
        height: calc(100vh - 70px - 2em - 40px); /* Adjusts the height */
    }

    .image-container img {
        height: 43vh; /* Adjusts the height */
    }

    .image-container .image-info {
        font-size: 1.3em; /* Adjusts the font size */
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    #fixed-header {
        padding-right: 50em; 
        left: -2em;
    }
    #header {
       font-size: 3.3em;
       text-align: left;
       margin-left: -20px;
   }

   .nav-links {
       font-size: 1.1em; 
       padding-right: 2em;
       margin-left: -20px;
   }

   #gallery {
        height: calc(100vh - 70px - 2em - 40px); /* Adjusts the height */
    }

    .image-container img {
        height: 53vh; /* Adjusts the height */
    }

    .image-container .image-info {
        font-size: .6em; /* Adjusts the font size */
    }

}














