body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    color: white;
}

#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensure the header is above other content */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: black; /* Add a background color to the fixed header */
    padding-left: 80px; /* Add space to the left to match the nav links */
}

#header {
    font-size: 3em;
    font-weight: bold;
    text-align: left; /* Align the text to the left */
    opacity: 0; /* Make the header initially invisible */
    animation: fadeInDown 2s ease-out forwards; /* Add this line */
    margin-top: 0px; /* Adjust the top margin */
}

/* Define the fadeInDown animation */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-links {
    display: flex;
    justify-content: flex-start; /* Align items to the start of the container */
    gap: 13px; /* Adjust this value as needed */
    padding-top: 20px; /* Add space to the top */
}

.nav-links a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; /* Add a transition effect */
    font-size: 1.0em; /* Adjust this value as needed */
}

.nav-links a:hover {
    background-color: #333; /* Change the background color when hovered */
}

h2 {
    font-size: 3em; /* Make the text bigger */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    margin-top: 200px; /* Increase this value to move the text down */
    font-family: 'Times New Roman'; /* Change the font */
}