body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    color: white;
}

#fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Keeps the header on top */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: black; /* Header background color */
    padding-left: 80px; /* Padding to align with nav links */
}

#header {
    font-size: 3em;
    font-weight: bold;
    text-align: left; 
    opacity: 0; /* Initial state of the header */
    animation: fadeInDown 2s ease-out forwards; /* Animation for the header */
    margin-top: 0px; 
}

/* Animation keyframes */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-links {
    display: flex;
    justify-content: flex-start; 
    gap: 13px; 
    padding-top: 20px; 
}

.nav-links a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; /* Transition for hover effect */
    font-size: 1.0em; 
}

.nav-links a:hover {
    background-color: #333; /* Hover effect color */
}

h2 {
    font-size: 3em; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 200px; 
    font-family: 'Times New Roman';
}