body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

/* Add styles for the scrollable container and the images inside it */
.scrollable-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px 0;
}

.scrollable-container .w3-quarter {
    display: inline-block;
    width: 24%;
    margin-right: 1%;
}

.scrollable-container .w3-quarter:last-child {
    margin-right: 0;
}