body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCCCFF; /* Periwinkle blue */
}

#slideshow {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .desc {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    text-decoration: none;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}