/* Style for the body */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for header 1 */
h1 {
    color: #333;
    text-align: center;
    /*animation: fadeInFromTop 2s ease-in-out; */
}

/* Style for the main container */
p {
    color: #666;
}

/* Style for the main container used in index */
.main-title {
    color: #333;
    text-align: center;
    animation: fadeInFromTop 2s ease-in-out;
}

.main-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-link {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for the main container used in index */
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}